@model WebBanco.Models.CajaDeAhorro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>CajaDeAhorro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cbu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cbu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.saldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.saldo)
        </dd>
    </dl>
</div>
<br />
<div>
    <a class="p-2 btn-danger" style="color:white; font-weight:bold; text-decoration:none; border-radius : 12px; box-shadow: 3px 5px 5px rgba(3, 32, 51, .8); " asp-action="Edit" asp-route-id="@Model?.id">Ediart</a> |
    <a class="p-2" style="color:black; font-weight:bold; text-decoration:none; border-radius : 12px; box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);border: solid;" asp-action="Index">Volver</a>
</div>
