@{
    ViewData["Title"] = "Página principal";
}

<div class="titulo-login">
    <h1>Bienvenido </h1>
</div>
<div class="mainHub">
    <a asp-controller="CajaDeAhorro" asp-action="Index">Cajas de ahorro</a>
    <a asp-controller="Tarjetas" asp-action="Index">Tarjetas</a>
    <a asp-controller="PlazoFijo" asp-action="Index">Plazos fijo</a>
    <a asp-controller="Pago" asp-action="Index">Pagos</a>
    @if (ViewBag.Admin == true)
    {
        <a asp-controller="Usuarios" asp-action="Index">Usuarios</a>
    }
</div>
