@{
    ViewData["Title"] = "Iniciar sesión";
}
<div class="container text-center" >
    <br />
<div class="titulo-login">
        <h1 style="font-weight:bolder">Bienvenido</h1>
</div>
    <br />

    <div class="container h-100  w-50" style="background: radial-gradient(circle, rgba(238,33,47,1) 33%, rgba(252,176,69,1) 100%);
                 border-radius : 30px; box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);border: solid;">
        <br />

        <h2 style="font-weight:bold">Iniciar sesión</h2>
    <form action="@Url.Action("Index","Login")" method="post">
            <br />
            <input class="mb-2" style=" border-radius : 8px; box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);border: solid;" name="Dni" type="number" placeholder="Ingresar DNI" />
            <br />
            <input class="mb-2" style=" border-radius : 8px;  box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);border: solid;" type="password" name="password" placeholder="Ingresar contraseña" />
            <br />
            <input class="p-1" style="font-weight:bold; border-radius : 12px; box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);border: solid;" type="submit" value="Ingresar">
        @if (ViewBag.errorLogin != null)
        {
            @switch (ViewBag.errorLogin)
            {
                case (1):
                    <p class="alert alert-danger">"No se encontró un usuario con ese DNI"</p>
                    break;
                case (2):
                    <p class="alert alert-danger">"Contraseña incorrecta"</p>
                    break;
                case (3):
                    <p class="alert alert-danger">"Contraseña incorrecta. El usuario está bloqueado"</p>
                    break;
                case (4):
                    <p class="alert alert-danger">"El usuario está bloqueado"</p>
                    break;
            }
        }

    </form>
        <br />

    <div class="d-flex justify-content-center">
            <br />
        <p style="font-weight:bold">No tenés cuenta? </p>
            <a style="font-weight:bolder ; text-decoration:none;" asp-controller="Registro" asp-action="Index"> Registrate</a>
    </div>
</div>
</div>